name: mcp-tool-gateway
channels:
  - conda-forge
dependencies:
  - python=3.11
  - pip
  - pip:
      # This is the only packages needed by the CLI, app packages are added in .toml file
      - -e ".[dev,cli,docs]"
      - "ruff>=0.6.0"